<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="/static/logo.png" style="width:45%;" class="w3-round"><br><br>
    <h4><b>KIZZI KIDS</b></h4>
    <p class="w3-text-grey">Template by W3.CSS</p>
  </div>
  <div class="w3-bar-block">
    <a href="{{url_for('home')}}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>KIZZI KIDS</a> 
    <a href="{{url_for('signup')}}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>Sign Up</a> 
    <a href="{{url_for('login')}}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>Log in </a>
  </div>
  <div class="w3-panel w3-large">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">
    <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b>KIZZI KIDS</b></h1>
  </header>
  
  <!-- First Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom"><a href="{{url_for('lovetest')}}">
      <img src="/static/lovetest.png" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Love Test</b></p>
        <p>Enter the names of you and the person that you want to check your love percentage with and then press Calculate.</p>
      </div></a>
    </div>
    <div class="w3-third w3-container w3-margin-bottom"><a href="{{url_for('who')}}">
      <img src="/static/who.jpg" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Who? What? Where?</b></p>
        <p>Read the instructions given and then answer and press Analyze</p>
      </div></a>
    </div>
    <div class="w3-third w3-container"><a href="{{url_for('hangman')}}">
      <img src="/static/hangman.jpg" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Hangman</b></p>
        <p>the computer,makes up a secret word, while the other player tries to guess the word by asking what letters it contains. However, every wrong guess brings them one step closer to losing.</p>
      </div>
    </div>
  </div></a>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom"><a href="{{url_for('lightsout')}}">
      <img src="/static/lightsout.png" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>lights out</b></p>
        <p>Connect Four is a two player board game. Each player takes turns dropping a colored disc into a board.The goal of the game is to connect four pieces of the same color–vertically, horizontally, or diagonally–before the other player does so.</p>
      </div></a>
    </div>
    <div class="w3-third w3-container w3-margin-bottom"><a href="{{url_for('hitdot')}}">
      <img src="/static/hitdot.gif" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Hit the dot</b></p>
        <p>How many dots do you think you can hit in 30 seconds? Click on the radio buttons as they are selected randomly by the computer.1 point per hit, minus 1 point per miss.</p>
      </div></a>
    </div>
    <div class="w3-third w3-container"><a href="{{url_for('tictactoe')}}">
      <img src="/static/tictactoe.png" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Tic TAC Toe</b></p>
        <p>The game is played on a grid that's 3 squares by 3 squares.You are X, your friend (or the computer in this case) is O.Players take turns putting their marks in empty squares. The first player to get 3 of her marks in a row (up, down, across, or diagonally) is the winner.</p>
      </div>
    </div></a>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-32 w3-dark-grey">
  <div class="w3-row-padding">
    <div class="w3-third">
      <h3>About Us</h3>
      <p>TThis is a website full of games whenever you feel bored or wanna have fun this is the wobsite for it. </p>
    </div> 
  <div class="w3-black w3-center w3-padding-24">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></div>

<!-- End page content -->
</div>
</footer>
<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

var log = '{{log}}';
if (log=='false') {
        var str1 = "Sign Up";
        var result1 = str1.link("{{url_for('signup')}}");
        document.getElementById("signup").classList.add("nav-link");
        document.getElementById("signup").innerHTML = result1;
    }
var str;
var result;
document.getElementById("demo").classList.add("nav-link");
if (log=='true') {
    str = "Log Out";
    result = str.link("{{url_for('logout')}}");
    }
else{
        str = "Log in";
        result = str.link("{{url_for('login')}}");
    }
console.log(result)
document.getElementById("demo").innerHTML = result;

</script>

</body>
</html>
