<!DOCTYPE html>
<html>
    <head>
        <title>My Final Project</title>
        <link rel="stylesheet" type="text/css" href="../static/style_new.css">
        <!-- Required tags to make the website responsive-->
              <!-- Required tags to make the website responsive-->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

       <!-- Add Bootstrap CSS to the page -->
       
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}">
       
       

    </head>
    <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="{{ url_for('static',filename='billblock.png') }}" width=100px height=100px id="image"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('home')}}">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('Add')}}">Post a request</a>
            </li>
            <li class="nav-item", id="demo">
            </li>
            <li class="nav-item", id="signup"></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false	">
                Arcades
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('jobs_page')}}">Pacman</a>
                <a class="dropdown-item" href="{{url_for('sales_page')}}">Snake</a>
                <a class="dropdown-item" href="{{url_for('lost_and_found_page')}}"></a>
                <a class="dropdown-item" href="{{url_for('news_page')}}">News</a>
                <a class="dropdown-item" href="{{url_for('others_page')}}">Others</a>
              </div>
            </li>
          </ul>
          {% if session['logged_in'] %}
          <div class="hello">Hello , {{session['username']}}</div>


          {% endif%}
          

          <form class="form-inline my-2 my-lg-0" action="{{url_for('display_result')}}" method="post">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="data" aria-label="Search">
            <button id="submi" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
        <link rel="stylesheet" type="text/css" href="../static/style_new.css">
      </body>
    <style>
    	h1{
    		font-size: 50px;
    		font-family: "Courier New", Courier New, Monospace;
    		position:absolute;
    		top:50px;
    		left:50px;
    	}
  </style>
  <body>
       {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
        {% endwith %}
	<script>
		var if_post1 = ({{if_post}});
		if_post1 = String(if_post1);
		if(if_post1 == "true")
		{
			alert("Your post has been publish!");
		}
		function myFunction() {
			document.getElementById("myDropdown").classList.toggle("show");
		    return false;
		}
		window. onclick = function(event) {
			if (!event.target.matches('.dropbtn')) {
			var dropdowns = document.getElementsByClassName("dropdown-content");
			var i;
			for (i = 0; i < dropdowns.length; i++) {
				var openDropdown = dropdowns[i];
				if (openDropdown.classList.contains('show')) {
		        openDropdown.classList.remove('show');
		      }
		    }
		  }
		}
  </script>

  <center>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" item-height="500px" item-width="500px">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
    
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ url_for('static',filename='newnew.png') }}" item-height="500px" item-width="500px" alt="Los Angeles">
          <div class="carousel-caption">
            <!-- <p>FRIENDSHIP</p> -->

          </div>
        </div>
    
        <div class="carousel-item">
          <img src="{{ url_for('static',filename='4hands.png') }}" item-height="500px" item-width="500px" alt="Chicago">
          <div class="carousel-caption">
            <!-- <p>COOPERATION</p> -->

          </div>
        </div>

        <div class="carousel-item">
          <img src="{{ url_for('static',filename='puzzle.png') }}" item-height="500px" item-width="500px" alt="Chicago">
          <div class="carousel-caption">

          </div>
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static',filename='talkin.png') }}" item-height="500px" item-width="500px" alt="New York">
          <div class="carousel-caption">
            <!-- <p>COMMUNITY</p> -->

          </div>
        </div>
      </div>
    
      <!-- Left a{{ url_for('static',filename='hands.png') }}d right controls -->
      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    
  </center>    
    
    
    
          <div class="background">
            <div class="transbox">
              <p align="center">We are a happy & social place where people from the same block can talk and get benefit from each other skills, in a fun and sharing way</p>
            </div>
          </div>

        
       <!-- Add JQuery and Bootstrap JS to the page -->
       <!-- JQuery MUST BE BEFORE BOOTSTRAP -->
       <script src="{{ url_for('static', filename='bootstrap/jquery.js') }}"></script>
       <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.js') }}"></script>
<script>
  var if_post1 = ({{if_post}});
  if_post1 = String(if_post1);
    if(if_post1 == "true"){
      alert("Your post has been publish!");
    }
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
        return false;
    }
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
var log = '{{log}}';
if (log=='false') {
        var str1 = "Sign Up";
        var result1 = str1.link("{{url_for('SignUp')}}");
        document.getElementById("signup").classList.add("nav-link");
        document.getElementById("signup").innerHTML = result1;
    }
var str;
var result;
document.getElementById("demo").classList.add("nav-link");
if (log=='true') {
    str = "Log Out";
    result = str.link("{{url_for('logout')}}");
    }
else{
        str = "Log in";
        result = str.link("{{url_for('Login')}}");
    }
console.log(result)
document.getElementById("demo").innerHTML = result;
</script>
</body>
</html>